header {

  padding: 35px 210px 113px;

  
  background-color: var(--bg-color-black); 
  font: var(--text-header);
  color: var(--text-color-white); 
}


.menu {  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo-trilha img {
  width: 187px;
  height: 53px;
}


.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

