/*HERO SECTION*/

.hero {

  padding: 0 210px 135px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  background-color: var(--bg-color-black); 
       
}

.hero >.aside >.hero-text {

  max-width: 531px;
}

.hero .aside h1 {

  font: var(--h1);
  color: var(--text-color-white);
  letter-spacing: 0;
  width: 489px;
  line-height: 50px;
}

.hero .aside .hero-text p {

  font: var(--text);
  color: var(--text-color-white);
  width: 525px;
  line-height: 25px;
  margin-top: 20px;
}


.hero-cards {

  width: 494px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  
 }

.hero-cards::before {

  content: "";
  position: absolute;
  
  top: 50%;
  left: 60%; 
  width: 100%;
  height: 100%;
  
  max-width: 385px; 
  aspect-ratio: 1/1; 
  background: linear-gradient(45deg, #A8FF36, #51850C);
  border-radius: 35px;
  transform: translate(-50%, -50%) rotate(6deg);
  z-index: 0;
  
}

.image-card {
  
 height: 350px;

}

.image-card img {

  margin-top: 50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px;

  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%) translateY(-50px);
  z-index: 2;
}


/*ARTICLE SECTION*/

.about-devtrack {
  
background-color: var(--bg-color-grey);
padding: 125px 210px 120px;

}

.article-section {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
 
}

.image-article, .text-article {
  flex: 1; /* ocupam o mesmo espaço */

} 

.image-article img {

  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}


/*collaboration section*/

.collaboration {
 padding: 125px 210px 120px;
 background-color: var(--bg-color-black);

}


.collaboration-cards {
    max-width: 1200px;
    margin: 0 auto;

h1 {
 color: var(--text-color-white);
 margin-left: 330px;
 margin-bottom: 25px;
  
}

}


.grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px;
    height: 400px; 
}

.retangulo-grid {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  
  h2 {
    color: var(--text-color-black);
    font: var(--h2);  
  }
  
  p {
    color: var(--text-color-black);
    font: var(--text-card);
  }
  
}


.retangulo-grid:nth-child(1) {
    grid-column: 1;
    grid-row: 1;

}

.retangulo-grid:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.retangulo-grid:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

.retangulo-grid:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}


.image-grid {
    grid-column: 3;
    grid-row: 1 / 3; 
}


.retangulo-grid {
    background-color: var(--bg-color-white);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}


.image-grid {
    overflow: hidden;
    border-radius: 8px;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


