/*HERO SECTION*/
.hero {
  background-color: var(--bg-color-black);
  padding: 0 210px 135px;
      
}

.hero >.aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero >.aside >.hero-text {

  max-width: 531px;
}

.hero .aside h1 {
  font: var(--h1);
  color: var(--text-color-white);
  letter-spacing: 0;
  width: 489px;
  line-height: 50px;
}

.hero .aside .hero-text p {
  font: var(--text);
  color: var(--text-color-white);
  width: 525px;
  line-height: 25px;
  margin-top: 20px;
}

.hero .hero-cards {
  
  display: flex;
  align-items: center;

  position: relative;
  
 }

.hero >.hero-cards >.retangulo-destaque {
  width: 385px;
  height: 385px;
  background: linear-gradient(45deg, #A8FF36, #51850C);
  transform: rotate(6deg);
  color: white;
  border-radius: 35px;


  position: absolute;
  z-index: 1;
  left: 45%;
}


.hero >.hero-cards >.image-card img {

  width: 385px;
  height: 385px;
  object-fit: cover;
  border-radius: 35px;

  position: absolute;
  /*top: 50%; /* começa a 50% da altura do container */
  left: 50%; /* centro na horizontal */
  transform: translate(-50%, -50%) translateY(-50px); /* centraliza e sobrepõe*/
  z-index: 2; /* fica acima do retângulo */
}

